#signup{
    margin: center;
    /* border: 1px solid green; */
}
#signup img{
    /* border: 1px solid red; */
    width: 300px;
    height: 200px;
    transform: translateX(200%);
    /* margin: auto; */
}
#signup-form{
border:1px solid green;
width: 250px;
display: block;
margin:auto;
text-align: center;
}
#signup-form input{
    width: 220px;
}