#signup{
    margin: center;
    /* border: 1px solid green; */
}
#signup img{
    /* border: 1px solid red; */
    width: 300px;
    height: 200px;
    transform: translateX(200%);
    /* margin: auto; */
}
#signup-form{
border:1px solid grey;
width: 270px;
display: block;
margin:auto;
text-align: center;

}
#signup-form input{
    width: 220px;
    width: 230px;
    height: 25px;
    /* background-color:#f0c14b; */
    opacity: 0.8;
    border-radius: 2px;
    font-size: 16px;
}

.hello{
    width: 230px;
    height: 25px;
    background-color:#f0c14b;
    opacity: 0.8;
    border-radius: 2px;
    font-size: 16px;
    
}

#hello1{
width: 200px;
color: black;
color:black;
text-decoration:none;
margin-bottom: 20px;
}

.h{
    text-decoration: none;
}